@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-07-08 19:41:54
 * @version $Id$
 */
 .transition(@a,@duration,@timefun,@delay){
 	-webkit-transition:@a @duration @timefun @delay;
 	   -moz-transition:@a @duration @timefun @delay;
 	    -ms-transition:@a @duration @timefun @delay;
 	     -o-transition:@a @duration @timefun @delay;
            transition:@a @duration @timefun @delay;
 }
 .transform2d(translate,@x,@y,rotate,@deg){
 	transform:translate(@x,@y) rotate(@deg);
 }
 .transform2d(translate,@x,@y){
 	-webkit-transform:translate(@x,@y);
 	   -moz-transform:translate(@x,@y);
 	    -ms-transform:translate(@x,@y);
 	     -o-transform:translate(@x,@y);
 	        transform:translate(@x,@y);
 }
  .transform2d(translateX,@x){
 	-webkit-transform:translateX(@x);
 	   -moz-transform:translateX(@x);
 	    -ms-transform:translateX(@x);
 	     -o-transform:translateX(@x);
 	        transform:translateX(@x);
 }
   .transform2d(translateY,@y){
 	-webkit-transform:translateY(@y);
 	   -moz-transform:translateY(@y);
 	    -ms-transform:translateY(@y);
 	     -o-transform:translateY(@y);
 	        transform:translateY(@y);
 }
 .transform2d(rotate,@deg){
    -webkit-transform:rotate(@deg);
       -moz-transform:rotate(@deg);
        -ms-transform:rotate(@deg);
         -o-transform:rotate(@deg);
            transform:rotate(@deg);
 }
  .transform2d(scale,@x,@y){
    -webkit-transform:scale(@x,@y);
       -moz-transform:scale(@x,@y);
        -ms-transform:scale(@x,@y);
         -o-transform:scale(@x,@y);
            transform:scale(@x,@y);
 }
   .transform2d(scaleX,@x){
    -webkit-transform:scaleX(@x);
       -moz-transform:scaleX(@x);
        -ms-transform:scaleX(@x);
         -o-transform:scaleX(@x);
            transform:scaleX(@x);
 }
    .transform2d(scaleY,@y){
    -webkit-transform:scaleY(@y);
       -moz-transform:scaleY(@y);
        -ms-transform:scaleY(@y);
         -o-transform:scaleY(@y);
            transform:scaleY(@y);
 }
#fullpage{
	.p1{

		padding-top:80px;
		.logo{
			background: url(../images/logo.png) no-repeat center;
			height: 186px;
			width:100%;
			margin:0 auto;

		}
		.text{
			text-align: center;
			line-height: 1;
			margin:80px 0;
			img{
				opacity: 0;
				margin:0 24px;
			}
		}
		.info{
			background: url("../images/info_1.png") no-repeat center;
			height: 49px;
		}
	}
	.p1.current .text img{
		margin:0;
		opacity: 1;
         .transition(all,3s,ease-out,0.3s);
	}
	.p2{
		div{display: flex;
			justify-content:space-around;
			align-items:center;}
		.shiled{
            width:500px;
            height:491px;
            
            flex-wrap:wrap;

           img{flex-grow:1;
          
           }
           img:nth-child(1){
           	.transform2d(translate,300px,300px,rotate,45deg);

           }
           img:nth-child(2){
           	.transform2d(translate,200px,200px,rotate,45deg);
           }
           img:nth-child(3){
           	.transform2d(translate,400px,340px,rotate,45deg);
           }
		}
		.info{
			width:635px;
			background: url("../images/info_2.png") no-repeat center;
			height: 309px;

		}
	}
	.p2.current  .shiled img:nth-child(1){
		.transition(all,1s,linear,0s);
		.transform2d(translate,0px,0px,rotate,0deg);
	}
	.p2.current  .shiled img:nth-child(2){
		.transition(all,1s,linear,0s);
		.transform2d(translate,0px,0px,rotate,0deg);
	}
	.p2.current  .shiled img:nth-child(3){
		.transition(all,1s,linear,0s);
		.transform2d(translate,0px,0px,rotate,0deg);
	}
	.p3{
			>div{display: flex;
			justify-content:space-around;
			align-items:center;}
		.info{
            width:631px;
            height: 278px;
            background:url(../images/info_3.png) no-repeat center;
		}
		.circle{
			width:453px;
			height: 449px;
			background:url(../images/circle.png) no-repeat center;
		}
		.rocket{
			width:203px;
			height: 204px;
			background:url(../images/rocket.png) no-repeat center;
			position: absolute;
			left:0;
			bottom:0;
			.transform2d(translate,200px,300px,rotate,0deg);
			
		}
	}
	.p3.current .rocket{
		.transform2d(translate,1040px,-240px,rotate,0deg);
		.transition(all,1s,linear,0s);
	}
	.p4{
	   >div{
	   	    display: flex;
			justify-content:space-around;
			align-items:center;
		}
		.serach{
			width:529px;
			height:340px;
			position: relative;
			.transform2d(translateX,-120%);
			
			.toolbar{
				width:520px;
				height: 66px;
				background: url(../images/search.png) no-repeat 0 0;
			}
			.key{
              position: absolute;
              width:0px;
              height: 22px;
              top:23px;
              left:20px;
              background: url(../images/key.png) no-repeat 0 0;
			}
			@keyframes myanimate{
				from{width:0px}
				to{width:99px}
			}
			.wrap{
				overflow: hidden;
				.transform2d(translateY,-13px);
			.result{
				width:529px;
				height: 372px;
				background: url(../images/result.png) no-repeat center;
				.transform2d(translateY,-100%);
				
			}
		   }
		}
		.info{
			width:612px;
			height: 299px;
			background: url(../images/info_4.png) no-repeat center;
		}
	}
	.p4.current{
         .serach{
         	.transform2d(translateX,0);
         	
         	.transition(all,1s,linear,0s);
         	.key{
         		
         		animation:myanimate 1s steps(5) 1s forwards;
         	}
         	.result{
         		
         		.transform2d(translateY,0);
         		.transition(all,1s,linear,2.3s);
         	}
         }

	}
	.p5{
	    >div{
	   	    display: flex;
			justify-content:space-around;
			align-items:center;
			
			flex-direction:column;
		}
		.info{
			width:1077px;
			height: 134px;
			margin:30px auto;
			background: url(../images/info_5.png);
		}
		.browser{
			width:1004px;
			position: relative;
			flex:1;
			background: url(../images/toolbar.png) no-repeat left top;
			.top{
				position: absolute;
				left:0;
				height: 1px;
				width:100%;
				background-color: #fff;
				.transform2d(translateX,100%);
				opacity: 0;
			}
			.right{
				position: absolute;
				right:0;
				height: 100%;
				width:1px;
				background-color: #fff;
				.transform2d(translateY,100%);
				opacity: 0;
			}
			.bottom{
				position: absolute;
				bottom:0;
				height: 1px;
				width:100%;
				background-color: #fff;
			}
			.left{
				position: absolute;
				left:0;
				height: 100%;
				width:1px;
				background-color: #fff;
				.transform2d(translateY,-100%);
				opacity: 0;
			}
			.toolbar{
			   position: absolute;
			   height: 29px;
			   width:0px;
			   border:1px solid #fff;
			   left:78px;
			   top:29px;
			   border-radius: 2px;
			   opacity: 0;
			}
            .extra{
            	position: absolute;
            	right:0;
            	bottom:0;
            	background: url(../images/extra.png) no-repeat 0 0;
            	width:394px;
            	height: 29px;
            }
            .extraline{
            	position: absolute;
            	bottom:26px;
            	width:100%;
            	height: 1px;
            	background-color: #fff;
            }
		}
	}
	.p5.current{
		.browser{
			.top{
				.transform2d(translateX,0);
				opacity: 1;				
				.transition(all,1s,linear,0s);
			}
			.right{
				.transform2d(translateY,0);
				opacity: 1;
				.transition(all,1s,linear,0s);
			}
			.left{
			  	.transform2d(translateY,0);
				opacity: 1;
				.transition(all,1s,linear,0s);
			}
			.toolbar{
				opacity: 0.8;
				width:912px;
				.transition(all,1s,linear,1s);
			}
		}
	} 
}